
    @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
   
    body {
      
      color: #222;
      background-color: rgba(0, 115, 255, 0.073);
    }
    
    #flag{
      margin: 5px 0 30px 0;
      width: 300px;
    }

    img{
      width: 100%;
      height: 200px;
    }

    
   
    /* LAYOUT */
    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Gemunu Libre', sans-serif;
    }
    
    main {
      height: 40vh;
      color: #eee;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Gemunu Libre', sans-serif;
    }
    
    .left {
      /* width: 40rem; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 50%;
    }
    
    .right {
      width: 20rem;
      font-size: 2rem;
      color: #333;
      margin: 20px 0 20px;
      text-align: center;
      /* height: 50%; */
    }
    
    /* ELEMENTS STYLE */
    
    .name {
      display: flex;
      text-align: center;
      font-size: 1.8rem;
      justify-content: space-around;
      width: 100%;
      margin: 20px 0;
      padding: 12px;
      color: #333;
    }
    
   
    .message {
      background: #eee;
      color: #333;
      padding: 1rem;
      width: 100%;
      text-align: center;
      font-size: 1.5rem;
      font-family: 'Gemunu Libre', sans-serif;
    }
    
    .guess {
      background: none;
      border: 3px solid black;
      font-family: inherit;
      color: black;
      font-size: 2.5rem;
      padding: 1rem;
      width: 8em;
      text-align: center;
      display: block;
      margin-bottom: 3rem;
    }
    
    .btn {
      border: none;
      background-color: #eee;
      color: #222;
      /* font-size: 2rem; */
      font-family: inherit;
      border-radius: 10px;
      border: 1px solid #333;
      /* padding: 1.3rem; */
      margin-bottom: 1rem;
      font-size: 1.1rem;
      /* padding: 2rem 3rem; */
      cursor: pointer;
    }
    
    .btn:hover {
      background-color: #222;
    }
    
    /* .label-score {
      margin-top: 2rem;
    }
     */
    .hidden {
      display: none;
    }
    
    .finish {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      color: black;
      background-color: white;
      padding: 6rem;
      border-radius: 5px;
      box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
      z-index: 10;
    }
    .close-modal {
      position: absolute;
      top: 1.2rem;
      right: 2rem;
      font-size: 5rem;
      color: #333;
      cursor: pointer;
      border: none;
      background: none;
    }
    
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(3px);
      z-index: 5;
    }
    


    @media (max-width: 570px) {

      .message{
        margin-bottom: 80px;
      }
      main{
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
      }

  }
  