
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header{

    background-color: rgba(0, 115, 255, 0.073);
    height: 70vh;
    box-shadow: 2px 46px 400px -7px rgba(0,115,255,0.44);
-webkit-box-shadow: 2px 46px 400px -7px rgba(0,115,255,0.44);
-moz-box-shadow: 2px 46px 400px -7px rgba(0,115,255,0.44);
z-index: 99;
}

.container{
    position: relative;
    width: 320px;
}

#carousel{
    
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
    background-color: gray;
    
}

.image{
    position: absolute;
    width: 300px;
    height: 187px;
    top: 0px;
    left: 10px;
    right: 10px;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}

@keyframes  rotate360 {
    from{
        transform: rotateY(0deg);

    }
    to{
        transform: rotateY(-360deg);
    }
}


/* couresel */
.image:nth-child(1){
    
    transform: rotateY(0deg) translateZ(430px);
}
.image:nth-child(2){
    transform: rotateY(40deg) translateZ(430px);
}
.image:nth-child(3){
    transform: rotateY(80deg) translateZ(430px);
}
.image:nth-child(4){
    transform: rotateY(120deg) translateZ(430px);
}
.image:nth-child(5){
    transform: rotateY(160deg) translateZ(430px);
}
.image:nth-child(6){
    transform: rotateY(200deg) translateZ(430px);
}
.image:nth-child(7){
    transform: rotateY(240deg) translateZ(430px);
}

.image:nth-child(8){
    transform: rotateY(280deg) translateZ(430px);
}

.image:nth-child(9){
    transform: rotateY(320deg) translateZ(430px);
}




.navbar-toggler, .navbar-toggler:focus{
border: 2px solid #333;
box-shadow: none;
}

.nav{
    border-bottom: 2px solid #333;
    
}

.nav ul li a{
    background-color:#feffff ;
    color: #333;
    font-weight: 500;
    font-size: larger;
    
}
.item-menu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 250px;
    margin: 40px ;
}


.state{
  text-align: center;
  padding: 50px 0;
}

.item-menu:hover {
    transform: translateY(-10px);
}


.item-menu img {
    width: 100%;
    height: 150px;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* padding: 50px 90px 90px; */
    width: 100%;
    gap: 20px 0;
}

.description {
    padding: 10px;
}

.viewMore {
    text-decoration: none;
    color: black;
}

p{
    margin: 0;
}



#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(51, 51, 51, 0.7);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

@media  (min-width: 370px) and (max-width: 570px) {

    .items {
        grid-template-columns: repeat(1, 250px);
        gap: 10px;
    }

    }

    @media (min-width: 570px) and (max-width: 900px) {
        .items {
        grid-template-columns: repeat(2, 250px);
        gap: 60px;
        }
    }
    
    @media (min-width: 900px) and (max-width: 1024px) {
        .items {
        grid-template-columns: repeat(2, 250px);
        gap: 40px;
        }

    }

    @media (min-width: 1024px) and (max-width: 1275px) {
        .items {
        grid-template-columns: repeat(3, 250px);
        gap: 40px;
        }
    }
    

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
